.container {
  width: 100%;
  min-width: min-content;
  height: auto;
  padding: 12px;
}
@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    height: auto;
    padding: 12px;
  }
}

.image-card {
  position: relative;
  height: 70%;
  width: 100%;
  margin: auto;
}

.image-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-card p {
  font-size: "6%";
}

.image-card img:first-child {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}
.image-card img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.image-card.active-switcher img.pmhovered {
  opacity: 1;
  z-index: 1;
}
.image-card.active-switcher img:not(.pmhovered) {
  opacity: 0;
  z-index: 0;
}
.image-card .btn {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  transform: translate(-50%, -50%);
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
}
.image-card .tag {
  z-index: 4;
  position: absolute;
  top: 8px;
  right: 8px;
}
.image-card .countdown {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(50%);
}
.image-card:hover .btn {
  opacity: 1;
  z-index: 1000;
}
.container:hover .btn > * {
  transform: scale(1) translateY(0);
}
.btn button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image-card .pmimage-switcher {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  z-index: 21;
  overflow: hidden;
}

.pmimage-switcher span {
  display: block;
  position: relative;
  flex-grow: 1;
}

.pmimage-switcher span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  transform: translateY(5px);
}
.image-card.active-switcher span::after {
  transform: translateY(0px);
}

.pmimage-switcher span:hover::after {
  background: rgba(0, 0, 0, 0.4);
}
.price {
  font-weight: bold;
}
.old-price {
  text-decoration: line-through;
}
