.product-item {
  position: relative;
  padding: 8px;
  width:max-content;
  min-width: min-content;
  overflow: hidden;
  border-radius: 8px;
}
.product-item img {
  border-radius: 4px;
  height: auto;
  width: calc(5vh + 4vw);
  display: block;
  object-fit: fill;
}
