.topbar {
  padding: 22px 80px 22px 80px;
}
.navbar {
  padding: 8px 80px 8px 80px;
}
.nav-link {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .topbar {
    padding: 22px 12px 22px 12px;
  }
  .navbar {
    padding: 8px 12px 8px 12px;
  }
}
