.profileCard .informationArea .styleCheckboxGridItem {
  margin-top: -20px;
  margin-bottom: -10px;
}

.profileCard .informationArea .styleCheckboxGridItem .styleCheckboxFormControlLable {
  margin-right: 15px; 
  color: #303537;
}