.fullwidthbanner-container {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
}
.containermain.fullwidthbanner-container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}
