.fullwidthbanner-container {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
}
.containermain.fullwidthbanner-container {
  position: relative;
  margin-top: 8%;
  margin-bottom: 8%;
}
.containermain.fullwidthbanner-container .title {
  margin-bottom: calc(25% / 2 - 10%);
  margin-left: 50%;
  margin-top: calc(25% / 2 - 10%);
  transform: translate(-50%, 0);
  width: max-content;
}
.containermain.feedback-container {
  position: relative;
  padding: 0px;
}
