.fullwidthbanner-container {
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}
.fullwidthbanner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullwidthbanner-container img {
  width: 100%;
}
.fullwidthbanner-container .caption {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 90%;
}
.fullwidthbanner-container .caption p {
  width: max-content;
  line-height: inherit;
}

.fullwidthbanner-container .caption-second {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.fullwidthbanner-container .caption-second p {
  width: max-content;
  line-height: inherit;
}

.active-revslide {
  width: 100%;
  height: 100%;
  z-index: 20;
  visibility: inherit;
  opacity: 1;
}
